/* products.css */

.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* Если нужно растянуть на всю высоту экрана */
}

.add-order-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px; /* Добавьте отступ снизу */
}

.reload-order-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: purple!important;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px; /* Добавьте отступ снизу */
}

.add-order-btn:hover {
  background-color: #218838;
}


.order-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
}

.order-card h3 {
    margin-bottom: 10px;
}

.order-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
}

